.list-detail-layout {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

.list-detail-layout > main {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    height: 100%;
}

.list-detail-layout > aside {
    box-sizing: border-box;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 12px;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.list-detail-layout > aside > mdui-card {
    height: 100%;
    width: 100%;
}

.list-detail-layout .elastic {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-detail-layout .elastic > header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.list-detail-layout .elastic > footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.list-detail-layout .elastic > main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    min-height: 0;
    overflow-y: auto;
}



.supporting-pane-layout {
    align-items: stretch;
    display: flex;
    gap: 12px;
    height: 100%;
    overflow-y: auto;
    padding: 12px;
}

.supporting-pane-layout > main {
    height: 100%;
    max-width: 600px;
}

.supporting-pane-layout > aside {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
    height: 100%;
    max-width: 600px;
    overflow-y: auto;
}

.supporting-pane-layout > main > * {
    width: 100%;
    margin-bottom: 12px;
}



.feed-layout {
    align-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    gap: 12px;
    overflow-y: auto;
    padding: 12px;
}

.feed-layout > * {
    width: 32%;
}

@media (max-width:1200px) {
    .feed-layout > * {
        width: 49%;
    }
}

@media (max-width:993px) {
    .feed-layout > * {
        width: 99%;
    }
}


