:root {
    --mdui-color-shadow-dark: 255, 255, 255!important;
}



/***************************************/
/* Overwrite Default Styles: */
/***************************************/
html,
body {
    font-family: "Ubuntu";
    height: 100vh;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
}

section {
    margin: 0.5rem 0;
}



/***************************************/
/* Custom Web Components: */
/***************************************/
date-picker {
    --color-selected: var(--mdui-color-primary);
    --color-on-selected: var(--mdui-color-on-primary);
    --shape-corner: var(--mdui-shape-corner-full);
}
date-picker::part(day) {
    border-radius: var(--shape-corner);
}
date-picker::part(selected) {
    background-color: rgb(var(--color-selected));
    border-color: rgb(var(--color-selected));
    color: rgb(var(--color-on-selected));
}
date-picker::part(active):hover {
    border-color: rgb(var(--color-selected));
    border-style: solid;
    border-width: 1px;
}
date-picker::part(inactive):hover {
    border-color: rgb(var(--color-selected));
    border-style: solid;
    border-width: 1px;
}
date-picker::part(selected):hover {
    background-color: inherit;
    color: inherit;
}

file-input::part(file-picker) {
    border: none;
    padding: 6px 12px;
}



/***************************************/
/* MDUI Library Styles: */
/***************************************/
mdui-card {
    padding: 12px;
}

mdui-card[variant="elevated"] {
    box-shadow: var(--mdui-elevation-level3);
}

mdui-tabs::part(container) {
    background-color: inherit;
}

mdui-top-app-bar {
    background-color: inherit;
    padding: 0;
    position: relative; 
}

mdui-text-field[variant="filled"]::part(container) {
    box-shadow: 0px 0px;
    border-radius: var(--mdui-shape-corner-large);
}

mdui-dialog::part(body) {
    height: 100%;
    width: 100%;
}
mdui-dialog::part(overlay) {
    background-color: rgba(0,0,0,0.4);
}
mdui-dialog::part(panel) {
    background-color: rgb(var(--mdui-color-surface-container-low));
    width: 100%;
}



/***************************************/
/* General CSS Classes: */
/***************************************/
.outlined {
    border-color: rgb(var(--mdui-color-outline));
    border-style: solid;
    border-radius: var(--mdui-shape-corner-full);
    border-width: 1px;
}

.flex-row {
    display: flex;
    align-content: flex-start;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    overflow-x: hidden;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-column > header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.flex-column > footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.flex-column > main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    min-height: 0;
    overflow-y: auto;
}

.hint {
    background-color: rgb(var(--mdui-color-tertiary-container));
    border-radius: var(--mdui-shape-corner-small);
    color: rgb(var(--mdui-color-on-tertiary-container));
    cursor: default;
    font-size: 0.8rem;
    padding: 2px 4px;
}

.info-text {
    color: rgb(var(--mdui-color-outline-dark));
    font-size: 0.8rem;
}
